<settings>
  <localRepository>C:\ProgramData\Jenkins\.jenkins\workspace\JavaApp-Declarative-Pipeline\.m2\</localRepository>
  <servers>
    <server>
      <id>nexus-premise</id>
      <!-- <username>${env.NEXUS_CREDS_USR}</username>
      <password>${env.NEXUS_CREDS_PSW}</password> -->
      <username>${server.username}</username>
      <password>${server.password}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>default-maven-remote</name>
      <url>https://repo1.maven.org/maven2/</url>
      <id>central</id>
  </mirrors>
  <profiles>
    <profile>
       <id>MavenRepository</id>
           <repositories>
            <repository>
                <id>central</id>
                <url>https://repo1.maven.org/maven2</url>
                <snapshots>
                    <enabled>false</enabled>
                </snapshots>
                <releases>
                    <enabled>true</enabled>
                </releases>
            </repository>
        </repositories>
    </profile>
</profiles>
</settings>