<settings>
  <localRepository>.m2</localRepository>
  <servers>
    <server>
      <id>nexus-premise</id>
      <!-- <username>${env.NEXUS_CREDS_USR}</username>
      <password>${env.NEXUS_CREDS_PSW}</password> -->
      <username>${server.username}</username>
      <password>${server.password}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>default-maven-virtual</name>
      <url>https://javaapprepo.jfrog.io/artifactory/default-maven-virtual</url>
      <id>nexus-premise</id>
  </mirrors>
</settings>